{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Fullscreen Landing</title>
</head>

<body>
    <header id="showcase">
        <h1>Welcome I am Darshan GIS Engineer</h1>
        <p>3 years expertise in GIS I am qualified and have developed a special interest in the field of Geoinformatics Postgraduate having Civil Engineering background with a commitment to contribute to the organisation. 
            I am an enthusiastic individual willing to take on challenges. 
            I have a good technical foundation along with verbal, 
            written communication skills and am ready to move in different work locations, which help me to work efficiently and perform well.</p>
        <a href="#" class="button">Read More</a>
    </header>
    <section id="section-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit minus impedit maxime, quae soluta quis
            cumque perferendis! Doloribus quaerat, placeat iste facere, aspernatur ex cum veritatis laudantium,
            officia, non porro exercitationem incidunt quis dolore? Officia ex accusamus expedita optio, voluptatem
            minus? In maiores omnis aperiam earum ab molestiae beatae laborum blanditiis incidunt, delectus dolor, id
            voluptates optio aspernatur aliquam saepe atque labore? Tempore reprehenderit ab ipsam perspiciatis ut,
            provident perferendis sapiente in numquam blanditiis, enim, illo error nulla incidunt quos quidem ratione
            repellat ipsa molestias veritatis? Mollitia, fugit dolore commodi porro repudiandae atque, eos, ipsum quam
            culpa fuga deleniti quae.</p>
    </section>
    <section id="section-b">
        <p>A geographic information system (GIS) is a system that creates, manages, analyzes, and maps all types of data. GIS connects data to a map, integrating location data (where things are) with all types of descriptive information (what things are like there). This provides a foundation for mapping and analysis that is used in science and almost every industry. GIS helps users understand patterns, relationships, and geographic context. The benefits include improved communication and efficiency as well as better management and decision making..</p>
    </section>
    <section id="section-c">
        <div class="box-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt
            nobis temporibus veritatis libero odio!
        </div>
        <div class="box-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt
            nobis temporibus veritatis libero odio!
        </div>
        <div class="box-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt
            nobis temporibus veritatis libero odio!
        </div>
    </section>

</body>

</html>